# Arithmetic Operations on Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
my_series = pd.Series(data=np.random.randint(0,30, size=8), index=["apple", "orange", "ananas", "banana", "kiwi", "mango", "papaya", "avocado"])

In [3]:
my_series

apple      11
orange      7
ananas     10
banana      0
kiwi       11
mango       8
papaya     23
avocado     5
dtype: int64

We can now modify the data in our series by performing basic arithmetic operations

In [4]:
my_series + 2

apple      13
orange      9
ananas     12
banana      2
kiwi       13
mango      10
papaya     25
avocado     7
dtype: int64

In [5]:
my_series - 1

apple      10
orange      6
ananas      9
banana     -1
kiwi       10
mango       7
papaya     22
avocado     4
dtype: int64

In [6]:
my_series / 2

apple       5.5
orange      3.5
ananas      5.0
banana      0.0
kiwi        5.5
mango       4.0
papaya     11.5
avocado     2.5
dtype: float64

In [7]:
my_series * 2

apple      22
orange     14
ananas     20
banana      0
kiwi       22
mango      16
papaya     46
avocado    10
dtype: int64

We can also **globally** apply advanced math operation such as `sqrt`, `exp`, `power` provided by numpy(! - amazing right?)

In [8]:
np.sqrt(my_series)

apple      3.316625
orange     2.645751
ananas     3.162278
banana     0.000000
kiwi       3.316625
mango      2.828427
papaya     4.795832
avocado    2.236068
dtype: float64

In [9]:
np.power(my_series,2)

apple      121
orange      49
ananas     100
banana       0
kiwi       121
mango       64
papaya     529
avocado     25
dtype: int64

In [10]:
np.exp(my_series)

apple      5.987414e+04
orange     1.096633e+03
ananas     2.202647e+04
banana     1.000000e+00
kiwi       5.987414e+04
mango      2.980958e+03
papaya     9.744803e+09
avocado    1.484132e+02
dtype: float64

Obviously, we can perform mathemtical ops on a specific element of the series. 

To select an element it's possibile to use the [`iloc` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) which allows to access to an object using its index location

In [11]:
# sum 100 to the element with index label kiwi and index 4 in the series
print('sum 100 to element kiwi using iloc: ', my_series.iloc[4] + 100)
print('sum 100 to element kiwi using index label: ', my_series['kiwi'] + 100)

sum 100 to element kiwi using iloc:  111
sum 100 to element kiwi using index label:  111

In [12]:
print('before')
print(my_series)
# math operation on only two elements of the Series
my_series[['kiwi', 'avocado']] = my_series[['kiwi', 'avocado']] * 2
print('\nafter')
print(my_series)

before
apple      11
orange      7
ananas     10
banana      0
kiwi       11
mango       8
papaya     23
avocado     5
dtype: int64

after
apple      11
orange      7
ananas     10
banana      0
kiwi       22
mango       8
papaya     23
avocado    10
dtype: int64

It's possible to apply arithmetic operations on Pandas Series of mixed data type provided that the arithmetic operation is defined for all data types in the Series, otherwise you will get an error.

In particular, string type define the `*` operation and this allows Pandas to doubles (etc) the data of each item including the strings. For the other operations Pandas will raise an error

In [13]:
my_series = pd.Series(data = [1, 20, True, "Banana", "Kalua", 231123], index = ["index1","index2","index3","index4","index5","index6"])

In [14]:
my_series * 2

index1               2
index2              40
index3               2
index4    BananaBanana
index5      KaluaKalua
index6          462246
dtype: object