# Accessing and Deleting Elements in Pandas Series

One great advantage of Pandas Series is that it allows us to access data in many different ways.

Let's see how!

In [1]:
import pandas as pd

In [2]:
my_series = pd.Series(data = [1, 20, True, "Banana", "Kalua", 231123], index = ["index1","index2","index3","index4","index5","index6"])

Accessing data using brackets `[]`

In [3]:
my_series['index1']

1

Accessing data by directly using the attribute of interest

In [4]:
my_series.index4

'Banana'

However, this last approach doesn't allow us to access to more than one index labels/positions. 

To do so, we must use the brackets with the index labels/positions. This results in the definition of a new Series of dtype object (in the case the element type is not omogenous)

In [5]:
my_series[['index1', 'index4']]

index1         1
index4    Banana
dtype: object

In [6]:
my_series[[0, 3]]

index1         1
index4    Banana
dtype: object

We can also access to the last element of the series by using the -1 position, as in numpy

In [7]:
my_series[[0, -1]]

index1         1
index6    231123
dtype: object

Pandas Series are also mutable like NumPy ndarrays, which means we can change the elements of a Pandas Series after it has been created

In [8]:
print('previous value \t', my_series['index2'])
my_series['index2'] = 'replaced'
print('current value \t',my_series['index2'])

previous value 	 20
current value 	 replaced

In [9]:
my_series

index1           1
index2    replaced
index3        True
index4      Banana
index5       Kalua
index6      231123
dtype: object

Since we can access elements in various ways, in order to remove any ambiguity to whether we are referring to an index label or numerical index, Pandas Series have two attributes, `.loc` and `.iloc` to explicitly state what we mean. 

The attribute 
- `.loc` stands for location and it is used to explicitly state that we are using a labeled index
- `.iloc` stands for integer location and it is used to explicitly state that we are using a numerical index

In [10]:
# loc example
my_series.loc['index1']

1

In [11]:
# iloc example
my_series.iloc[0]

1

Moreover, through these properties it's possible to perform selections based on boolean condition

In [12]:
my_series.loc[my_series == 1] # return 1 and True because True is considered as 1

index1       1
index3    True
dtype: object

In [13]:
my_series.loc[my_series != 'Banana']

index1           1
index2    replaced
index3        True
index5       Kalua
index6      231123
dtype: object

Delete items from a Pandas Series by using the `.drop(index_label)`

The Series.drop(label) method drops elements from the Series out of place, meaning that it doesn't change the original Series being modified.

In this way, the Series is not affected by the delete operation while the result of this operation must be saved in another variable if the original series must be preserved.

In [14]:
print(my_series)

index1           1
index2    replaced
index3        True
index4      Banana
index5       Kalua
index6      231123
dtype: object

In [15]:
a = my_series.drop('index5')

In [16]:
a

index1           1
index2    replaced
index3        True
index4      Banana
index6      231123
dtype: object

In [17]:
my_series

index1           1
index2    replaced
index3        True
index4      Banana
index5       Kalua
index6      231123
dtype: object

We can delete items from a Pandas Series in place by setting the keyword inplace to True in the `drop()` method.

This affects the series

In [18]:
b = my_series.drop('index5', inplace=True)

In [19]:
b # it's empty because of the implace option set to True

In [20]:
my_series

index1           1
index2    replaced
index3        True
index4      Banana
index6      231123
dtype: object